cool/bin
cool/etc
cool/examples
cool/handouts
cool/include
cool/lib
cool/src
cool/student-dist.tar.gz
cool/assignments/*/*
!cool/assignments/PA2/cool.flex
!cool/assignments/PA2/pa1-grading.pl
!cool/assignments/PA3/cool.y
!cool/assignments/PA3/pa2-grading.pl